:root {
    --bg-azul: #122a57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 90%;
    height: 100%;
    
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-blue {
    background-color: var(--bg-azul, #122a57);
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-end {
    align-self: flex-end;
}

.weight {
    font-size: 1rem;
    font-weight: bold;
}

/* <!-- Header --> */
.header {
    width: 100%;
    height: auto;
}

/* <!-- Navigation --> */
.navbar {
    width: 100%;
    height: 10vh;

    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    position: fixed;
    top: 0;
    overflow: hidden;
}

.navbar__brand {
    width: auto;
}

.navbar__brand .navbar__link {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

/* <!-- Menu --> */
.navbar__menu {
    width: 50%;
}

/* .navbar__menu--main {
    width: 100%;
} */

.navbar__list {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.navbar__item {
    list-style: none;
}

.navbar__menu--main .navbar__link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: .2rem;
}

.navbar__menu--main .navbar__link:hover {
    color: yellow;

    background-color: rgba(255, 255, 255, .1);
    border-radius: 25%;
}
/* <!-- End.Header --> */

/* <!-- Main --> */
.main {
    height: 80%;
    margin-top: 10vh;
}

.section {
    width: 100%;
    height: auto;
}

.section__content {
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.section__header {
    width: 100%;
    height: 100%;
}

.section__title {
    padding: 1rem 0;
}

.section__body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section__text {
    margin: .5rem 0;
}

.section__image {
    height: 390px;
}

.section__btn {
    width: 200px;
    height: 50px;
    border-radius: 25%;
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
    margin: 2.5rem 0;

    font-weight: bold;
}

.section__list {
    min-width: 300px;
    min-height: 300px;

    border: 3px solid var(--bg-azul);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section__list .section__image {
    width: 200px;
    height: 200px;
}

.section__list .section__text {
    margin-bottom: 1.3rem;
    list-style: square;
 
    line-height: 3.5rem;
}

/*<!-- End.Main -->*/

/*<!-- Footer -->*/
.footer {
    height: 10vh;
}

/*<!-- Responsive -->*/
@media (max-width: 1000px) {
    .section__title {
        font-size: 1.8rem;
    }
    .section__text {
        font-size: .8rem;
    }

    .section__image {
        height: 300px;
    }

    .section__list .section__image {
        width: 120px;
        height: 120px;
    }

    .section__list {
        min-width: 240px;
        min-height: 200px;
    }

    .section__list .section__text {
        margin-bottom: 1.5rem;
     
        line-height: 1.5rem;
    }

    .section__btn {
        width: 150px;
        height: 35px;

        font-size: 1rem;
        margin: 1.5rem 0;
    }
}

@media (max-width: 800px) {
    .section__image {
        height: 200px;
    }

    .section__list .section__image {
        width: 80px;
        height: 80px;
    }

    .section__list {
        min-width: 180px;
        min-height: 180px;
    }

    .section__list .section__text {
        font-size: .8rem;
        margin-bottom: 1rem;
     
        line-height: 1rem;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .navbar .container {
        flex-direction: row;
    }

    .section__header {
        align-self: center;
    }

    .section__title {
        text-align: center;
    }

    .section__body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section__list {
        margin-bottom: 1rem;
    }

    .flex-end {
        align-self: center;
    }

    /* Mobile */
    .navbar {
	height: 70px;
    }

    .navbar__menu--main {
        display: none;
    }

    .navbar__menu--mobile {
        position: absolute;
        top: 15px;
        right: 25px;
        
        width: 40px;
        height: 40px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navbar__menu--mobile span {
        content: "";
        display: block;
        width: 100%;
        height: 3px;

        background-color: white;
        transition: .5s;
    }

    .navbar__menu.on .navbar__menu--main {
        position: fixed;

        top: 70px;
        right: 0;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0);
        z-index: 1000;
        transition-duration: .3s;
    }

    .navbar__menu--mobile.on .one {
        transform: rotate(135deg) translate(14px, -5px);
    }
  
    .navbar__menu--mobile.on .two {
        opacity: 0;
    }
  
    .navbar__menu--mobile.on .three {
        transform: rotate(-135deg) translate(9px, 0px);
    }

    .navbar__menu.on .main {
        display: none;
    }

    .navbar__menu.on .navbar__menu--main {
        display: block;
        width: 100%;
        height: 100%;
    }

    .navbar__menu.on .navbar__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 3rem;
    }
}
/*<!-- End.Responsive -->*/